/* Poppins */@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Orienta */ @import url('https://fonts.googleapis.com/css2?family=Orienta&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Archivo Black */ @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Orienta&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins';
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 1000vh;
  width: 100vw;
  overflow: hidden auto;
  padding: 30px;

  background-color: #D9D9D9;

  display: flex;
  flex-direction: column;
}

.content-area {
  min-height: calc(100vh - 60px);
  width: calc(100vw - 60px);

  background-color: #ffffff;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6));

  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.navbar {
  height: 50px;
}

.navbar-logo {
  float: left;
  margin: 0 20px 0 0;
  height: 50px;
  width: 250px;

  background-color: #000000;

  color: #ffffff;
  text-align: center;
  line-height: 50px;
  font-family: 'Orienta';
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: 600;
}

.navbar-links {
  float: left;
  height: 50px;
}

.navbar-links a {
  float: left;
  height: 50px;
  margin: 0 16px 0 0;

  line-height: 50px;
  color: #000000;
}



.navbar-links a:hover {
  text-decoration: underline;
}

.hero-banner {
  margin: -40px 0 0 0;
  height: 250px;
  overflow: hidden;

  background-image: url(images/hero-banner.jpg);
  background-position: 0 -450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-banner p {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));

  color: #ffffff;
  text-align: center;
  line-height: 250px;
  font-family: 'Archivo Black';
  letter-spacing: 10%;
  font-size: 70px;
}

.introduction {
  padding: 0 60px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.introduction h1 {
  margin: 0 -60px 0 -60px;
  padding: 10px 0 10px 0;

  background-color: #F5F5F5;

  color: #000000;
  text-align: center;
  line-height: 40px;
  letter-spacing: 10%;
  font-size: 40px;
  text-decoration: underline;
}

.introduction p {
  margin: 30px 0 30px 0;

  color: #000000;
  text-align: center;
  line-height: 36px;
  font-size: 24px;
  text-align: justify;
  letter-spacing: -1px;
  text-indent: 1in;
}

.introduction span {
  color: #000000;
  line-height: 36px;
  font-size: 24px;
  letter-spacing: -1px;
  font-weight: bold;
}

.introduction iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

.featured {
  padding: 20px 60px;
  overflow: hidden;

  background-color: #F5F5F5;

  display: flex;
  flex-direction: column;
}

.featured h1 {
  margin: 0 0 10px 0;

  color: #000000;
  line-height: 40px;
  font-size: 24px;
  letter-spacing: -1px;
}

.featured .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.featured .wrapper .card {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;

  background-color: #000000;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  flex-direction: column;

  transition: all 0.3s;
}

.featured .wrapper .card:hover {
  transform: scale(1.03);
}

.featured .wrapper .card::before {
  content: '';
  position: absolute;
  inset: 0;

  background-position: center;
  background-size: cover;
  border-radius: 10px;
  opacity: 0.2;

  transition: all 0.3s;
}

.featured .wrapper .card:nth-child(1):before {
  background-image: url(images/featured-events.jpg);
}
.featured .wrapper .card:nth-child(2):before {
  background-image: url(images/featured-shop.jpg);
}
.featured .wrapper .card:nth-child(3):before {
  background-image: url(images/featured-blog.jpg);
}

.featured .wrapper .card:hover:before {
  opacity: 0.8;
}

.featured .wrapper .card p {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));

  color: #ffffff;
  text-align: center;
  font-family: 'Archivo Black';
  letter-spacing: 10%;
  font-size: 50px;
}

.about-us {
  padding: 20px 60px;
  overflow: hidden;

  display: grid;
  grid-template-columns: 6fr 4fr;
  column-gap: 40px;
}

.about-us .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-us .left h1 {
  color: #000000;
  text-align: center;
  line-height: 40px;
  letter-spacing: 10%;
  font-size: 40px;
  text-decoration: underline;
}

.about-us .left p {
  margin: 40px 0 0 0;

  color: #000000;
  text-align: center;
  line-height: 36px;
  font-size: 24px;
  text-align: justify;
  letter-spacing: -1px;
  text-indent: 1in;
}

.about-us .right {
  border-radius: 10px;
  
  background-image: url(images/about-us.jpg);
  background-position: center;
  background-size: cover;
}