:root {
  --bg-nav-color: #161618;
  --bg-content-color: #1B1B1F;

  --light-border-color: #2E2E32;
  --dark-border-color: #000000;

  --scroll-color1: #686868;
  --scroll-color2: #424242;

  --text-main: #ffffff;
  --text-main2: #d5d5d5;
  --text-sub: #AFAFA8;
  --test: #3e3e3e;
}

* {
  transition: all 0.3s;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-columns: 20vw 80vw;
}

.navigation {
  position: relative;
  padding: 64px 16px 0 5vw;
  overflow: hidden scroll;

  background-color: var(--bg-nav-color);
  
  scrollbar-color: var(--scroll-color1) var(--scroll-color2);
}

.navigation > header {
  position: absolute;
  inset: 0 0 auto 0;
  height: 64px;
  margin: 0 16px 0 5vw;

  background-color: var(--bg-color);
  border-bottom: 0.8px solid var(--light-border-color);

  display: flex;
  justify-content: left;
  align-items: center;
}

.navigation > header > .logo-wrapper {
  display: flex;
  align-items: center;
}

.navigation > header > .logo-wrapper > .logo-image {
  width: 30px;
  aspect-ratio: 1/1;
  margin: 0 10px 0 0;
}

.navigation > header > .logo-wrapper > .logo-text {
  font-size: 1rem;
  font-family: var(--logo_font);
  color: var(--text-main);
}

.navigation > .division {
  margin: 16px 0 0 0;

  border-top: 0.8px solid var(--light-border-color);

  display: flex;
  justify-content: left;
  flex-direction: column;
}

.navigation > .division#first {
  margin: 0 0 0 0;

  border-top: none;
}

.navigation > .division > .title {
  padding: 16px 0 8px 0;
  pointer-events: none;

  font-size: 1;
  font-weight: 600;
  color: var(--text-main);
}

.navigation > .division > .hyperlink {
  width: 100%;
  padding: 8px 0 8px 0;

  color: var(--text-sub);
  font-size: 0.9rem;
  font-weight: 500;

  transition: all 0.1s;
}

.navigation > .division > details {
  width: 100%;

  color: var(--text-sub);
  font-size: 0.9rem;
}

.navigation > .division > details > summary {
  padding: 8px 20px 8px 0;
  cursor: pointer;
  position: relative;
  list-style: none;

  font-weight: 500;
  
  transition: all 0.1s;
}

.navigation > .division > details >  summary::after {
  position: absolute;
  top: 50%;
  right: 0;
  content: "▶";
  margin: 0 0 0 auto;

  color: var(--text-sub);
  font-size: 0.5rem;

  transform: translateY(-50%);
  transition: all 0.1s;
}

.navigation > .division > details[open] > summary::after {
  content: "▼";
}

.navigation > .division > details > .container {
  width: 100%;

  display: flex;
  justify-content: left;
  flex-direction: column;
}

.navigation > .division > details > .container > .hyperlink {
  width: 100%;
  padding: 8px 0 8px 16px;

  border-left: 0.8px solid var(--light-border-color);

  color: var(--text-sub);
  font-size: 0.9rem;
  font-weight: 500;

  transition: all 0.1s;
}

.navigation > .division > details[open] > summary,
.navigation > .division > details[open] >  summary::after {
  color: var(--text-main);
}

.navigation > .division > .hyperlink:hover,
.navigation > .division > details >  summary:hover,
.navigation > .division > details >  summary:hover::after,
.navigation > .division > details > .container > .hyperlink:hover {
  color: var(--accent-color);
}

.navigation > .trademark {
  margin: 16px 0;
  pointer-events: none;
  
  color: var(--text-sub);
}

.content {
  position: relative;
  padding: 64px 7vw 0 7vw;
  overflow: hidden scroll;

  background-color: var(--bg-content-color);

  scrollbar-color: var(--scroll-color1) var(--scroll-color2);
  scroll-behavior: smooth;

  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.content > header {
  position: absolute;
  inset: 0 0 auto 0;
  height: 64px;
  margin: 0 5vw 0 16px;

  border-bottom: 0.8px solid var(--dark-border-color);

  display: flex;
  justify-content: right;
  align-items: center;
}

.content > header > .link-wrapper {
  height: 60%;

  display: flex;
  justify-content: right;
  align-items: center;
  column-gap: 16px;
}


.content > header > .link-wrapper > a {
  color: var(--text-sub);
  font-weight: 500;
  font-size: 1rem;

  transition: all 0.3s;
}

.content > header > .link-wrapper > button {
  cursor: pointer;

  background: transparent;
  border: none;

  color: var(--text-sub);
  font-weight: 500;
  font-size: 1rem;

  transition: all 0.3s;
}

.content > header > .link-wrapper > a:hover,
.content > header > .link-wrapper > button:hover {
  color: var(--text-main);
}

.content > header > .theme-wrapper {
  height: 60%;
  padding: 0 0 0 16px;
  margin: 0 0 0 16px;

  border-left: 0.8px solid var(--light-border-color);

  display: flex;
  justify-content: right;
  align-items: center;
}

.content > header > .theme-wrapper > button {
  position: relative;
  width: 24px;
  aspect-ratio: 1/1;
  cursor: pointer;

  background: transparent;
  border: none;
}

.content > header > .theme-wrapper > button > .moon-icon {
  position: absolute;
  inset: 4px;

  fill: var(--text-sub);
  opacity: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s;
}

.content > header > .theme-wrapper > button > .sun-icon {
  position: absolute;
  inset: 2px;

  fill: var(--text-sub);
  opacity: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s;
}

.content > header > .theme-wrapper > button:hover > .moon-icon,
.content > header > .theme-wrapper > button:hover > .sun-icon {
  fill: var(--text-main);
}


.content > header > .socials-wrapper {
  height: 60%;
  padding: 0 0 0 16px;
  margin: 0 0 0 16px;

  border-left: 0.8px solid var(--light-border-color);

  display: flex;
  justify-content: right;
  align-items: center;
  column-gap: 16px;
}

.content > header > .socials-wrapper > a {
  width: 20px;
  aspect-ratio: 1/1;
  cursor: pointer;

  fill: var(--text-sub);

  display: flex;
  justify-content: center;
  justify-content: center;

  transition: all 0.3s;
}

.content > header > .socials-wrapper > a:hover {
  fill: var(--text-main);
}

.content > .topic {
  width: 100%;
  padding: 48px 0 0 0;
}

.content > .topic h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-main);
}

.content > .topic p {
  margin: 16px 0;

  font-size: 1rem;
  color: var(--text-main2);
}

.content > .topic h2 {
  margin: 48px 0 16px 0;
  padding: 24px 0 0 0;

  border-top: solid 0.8px var(--light-border-color);

  font-weight: 700;
  font-size: 1.5rem;
  color: var(--text-main);
}

.content > .topic .break {
  margin: 48px 0 64px 0;

  border-top: solid 0.8px var(--light-border-color);
}