section {
  position: absolute;
  inset: 64px 0 0 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-us {
  padding: 20px;
  background-color: var(--content1);
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.contact-us h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

.contact-us p {
  font-size: 1rem;
  margin-bottom: 20px;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--border);
  border-radius: 5px;
  background-color: var(--content2);
  resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: 2px solid var(--accent1);
}

.contact-form button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: var(--accent1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: var(--accent2);
}
