nav {
  position: fixed;
  inset: 0 0 auto 0;
  height: 64px;
  padding: 0 5vw;
  z-index: 100;

  background-color: var(--navBG);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-self: left;
  align-items: center;
}

.logo > .text {
  margin: 0 0 0 10px;

  font-size: 1.2rem;
  font-family: var(--logoFont);
}

nav > .wrapper {
  display: flex;
  justify-self: right;
  align-items: center;
}

nav > .wrapper .hyperlinks {
  display: flex;
  justify-self: right;
  align-items: center;
  column-gap: 16px;
}

nav > .wrapper .hyperlinks > a {
  font-weight: 600;
  color: var(--textSub);

  transition: all 0.2s;
}

nav > .wrapper .hyperlinks > a:hover {
  color: var(--accentColor);
}

.socials {
  padding: 0 0 0 16px;
  margin: 0 0 0 16px;

  border-left: 1.5px solid var(--borderColor);

  display: flex;
  justify-self: right;
  align-items: center;
  column-gap: 16px;
}

.socials > .social-link {
  width: 20px;
  aspect-ratio: 1/1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.socials > .social-link > svg {
  fill: var(--textSub);
  transition: all 0.2s;
}

.socials > .social-link > svg:hover {
  fill: var(--textMain);
}