@font-face {
  font-family: 'AGRevueCyrRomanMedium';
  src: url('fonts/AGRevueCyrRomanMedium/AGRevueCyrRomanMedium.woff2') format('woff2'),
       url('fonts/AGRevueCyrRomanMedium/AGRevueCyrRomanMedium.woff') format('woff'),
       url('fonts/AGRevueCyrRomanMedium/AGRevueCyrRomanMedium.ttf') format('truetype'),
       url('fonts/AGRevueCyrRomanMedium/AGRevueCyrRomanMedium.svg') format('svg');
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/RobotoDraft-Black.woff2') format('woff2'),
       url('fonts/Roboto/RobotoDraft-Black.woff') format('woff'),
       url('fonts/Roboto/RobotoDraft-Black.ttf') format('truetype'),
       url('fonts/Roboto/RobotoDraft-Black.svg') format('svg');
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins/Poppins.woff2') format('woff2'),
       url('fonts/Poppins/Poppins.woff') format('woff'),
       url('fonts/Poppins/Poppins.ttf') format('truetype'),
       url('fonts/Poppins/Poppins.svg') format('svg');
}

:root {
  --logo_font: 'AGRevueCyrRomanMedium', cursive;
  --heading_font: 'Roboto', helvetica;
  --text_font: 'Poppins', sans-serif;

  font-size: 16px;
  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  font-family: var(--text_font);
}