section {
  position: absolute;
  inset: 64px 0 0 0;
  overflow: hidden auto;
}

section > .content {
  position: relative;
  width: 100%;
  height: calc(100vh - 64px);
  overflow: hidden;
}

section > .content > .background1,
section > .content > .background2 {
  position: absolute;
  inset: -25px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;

  transform: rotate(2deg);
}

section > .content > .background1 {
  background-color: var(--theme);

  z-index: 1;
}

section > .content > .background2 {
  z-index: 2;
}

.background1 > .bg-card:nth-child(1) {
  background-image: url(images/Anime/AttackOnTitan/s1.jpg);
}
.background1 > .bg-card:nth-child(2) {
  background-image: url(images/Manga/bluelock.jpg);
}
.background1 > .bg-card:nth-child(3) {
  background-image: url(images/Anime/Haikyuu/s1.jpg);
}
.background1 > .bg-card:nth-child(4) {
  background-image: url(images/Manga/hellsparadise.jpg);
}
.background1 > .bg-card:nth-child(5) {
  background-image: url(images/Anime/Horimiya/s1.jpg);
}
.background1 > .bg-card:nth-child(6) {
  background-image: url(images/Manga/mystmightmayhem.jpg);
}
.background1 > .bg-card:nth-child(7) {
  background-image: url(images/Anime/Hyouka/s1.jpg);
}
.background1 > .bg-card:nth-child(8) {
  background-image: url(images/Manga/omniscientreadersviewpoint.jpg);
}
.background1 > .bg-card:nth-child(9) {
  background-image: url(images/Anime/KaguyaSama/s1.jpg);
}
.background1 > .bg-card:nth-child(10) {
  background-image: url(images/Manga/onepiece.jpg);
}

.background2 > .bg-card:nth-child(1) {
  background-image: url(images/Anime/KonoSuba/s1.jpg);
}
.background2 > .bg-card:nth-child(2) {
  background-image: url(images/Manga/relife.jpg);
}
.background2 > .bg-card:nth-child(3) {
  background-image: url(images/Anime/OnePunchMan/s1.jpg);
}
.background2 > .bg-card:nth-child(4) {
  background-image: url(images/Manga/revengeofthebaskervillebloodhound.jpg);
}
.background2 > .bg-card:nth-child(5) {
  background-image: url(images/Anime/OshiNoKo/s1.jpg);
}
.background2 > .bg-card:nth-child(6) {
  background-image: url(images/Manga/sololeveling.jpg);
}
.background2 > .bg-card:nth-child(7) {
  background-image: url(images/Anime/SpyxFamily/s1p1.jpg);
}
.background2 > .bg-card:nth-child(8) {
  background-image: url(images/Manga/teenagemercenary.jpg);
}
.background2 > .bg-card:nth-child(9) {
  background-image: url(images/Anime/Tensura/s1.jpg);
}
.background2 > .bg-card:nth-child(10) {
  background-image: url(images/Manga/theknightonlylivestoday.jpg);
}

.background1 > .bg-card,
.background2 > .bg-card {
  background-size: cover;
}

.background2 > .bg-card:nth-child(odd) {
  opacity: 0;
  animation: changeBackgroundOdd 20s infinite;
}

.background2 > .bg-card:nth-child(even) {
  opacity: 1;
  animation: changeBackgroundEven 20s infinite;
}

@keyframes changeBackgroundOdd {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes changeBackgroundEven {
  25% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}

section > .content > .background3 {
  position: absolute;
  inset: 0;

  background-color: #000000;
  opacity: 0.9;

  z-index: 3;
}

section > .content > .container {
  position: absolute;
  inset: 0;
  padding: 0 9vw;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 25px;

  z-index: 5;
}

section .container > h1 {
  width: 100%;

  filter: drop-shadow(0 5px 0 var(--accent2));

  font-size: 7rem;
  line-height: 7rem;
  text-align: right;
  color: var(--accent1);
}

section .container > p {
  padding: 0 0 0 15vw;

  filter: drop-shadow(0 3px 0 var(--accent2));

  font-size: 32px;
  text-align: right;
}

section .container > a {
  margin: 0 0 5px 0;
  padding: 10px 40px;

  background-color: var(--accent1);
  border-radius: 20px;
  filter: drop-shadow(0 5px 0 var(--accent2));

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s;
}

section .container > a:hover {
  margin: 5px 0 0 0;

  filter: drop-shadow(0 0 0 var(--accent2));
}

section .container > a > span {
  font-size: 1.5rem;
  font-weight: 600;

  transition: all 0.3s;
}

section .container > a:hover span {
  filter: drop-shadow(0 0 5px #FFFFFF);
}

footer {
  width: 100%;
  height: 100px;

  background-color: var(--navigation);

  display: flex;
  justify-content: center;
  align-items: center;
}