@import url('homePage-nav.css');

section {
  position: absolute;
  inset: 64px 0 0 0;
  overflow: hidden;

  display: grid;
  grid-template-columns: 20vw 1fr;
}

section > .content {
  padding: 64px 5vw 0 5vw;
  overflow: hidden scroll;

  background-color: var(--content1);

  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

section > .content > .topic {
  padding: 0 0 32px 0;
  margin: 0 0 64px 0;

  border-bottom: 0.8px solid var(--border);
}