/*Import Font: 'Fredoka'*/
/*Import Font: 'Coiny'*/
/*Import Font: 'Poppins'*/
@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-color: #e3e2de46 #704021;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  padding: 100px 0 0 0;
  overflow: hidden auto;
  border: 8px solid #704021; 
  background-color: #e3e2de; 
  display: flex;
  flex-direction: column;
}

/*
    NAVIGATION BAR CSS
*/
.navbar {
  position: absolute;
  inset: 0 0 auto 0;
  height: 100px;
  padding: 0 4vw;
  border-bottom: 2px solid #704021;
  background-color: #e3e2de;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.navbar .logo-wrap {
  position: absolute;
  inset: auto auto auto 4vw; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .logo {
  height: 75px;
  object-fit: cover;
}

.navbar .pagelink {
  padding: 10px;
  font-size: 1.3rem;
  font-family: 'Coiny';
  text-decoration: none; 
  color: #914c2a;
}

.navbar .pagelink:hover {
  text-decoration: underline;
}

/*
    DOG GALLERY CONTENT CSS
*/
.dog-gallery-section {
  width: 100%;
  padding: 50px 8vw 600px 8vw;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.dog-gallery-section .gallery-title {
  margin: 0 0 5px 0;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  font-family: 'Fredoka';
  color: #4a3b2b;
}

.dog-gallery-section .gallery-description {
  margin: 0 0 50px 0;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Poppins';
  color: #914c2a;
}

.dog-gallery-section .gallery-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.dog-gallery-section .gallery-card {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 50px;
  filter: drop-shadow(0 0 5px);
  display: flex;
  flex-direction: column;
}

.dog-gallery-section .gallery-card:nth-child(1),
.dog-gallery-section .gallery-card:nth-child(2),
.dog-gallery-section .gallery-card:nth-child(3) {
  z-index: 100;
}

.dog-gallery-section .gallery-card:hover {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dog-gallery-section .gallery-photo {
  width: 100%;
  aspect-ratio: 1/1;
}

.dog-gallery-section .gallery-floating-section {
  position: absolute;
  inset: auto 0 1px 0;
  padding: 0 30px 20px 30px;
  background-color: #ffffff;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  display: none;
  transform: translateY(100%);
}

.dog-gallery-section .gallery-card:hover .gallery-floating-section {
  display: flex;
  flex-direction: column;
}

.dog-gallery-section .heading-text {
  width: 100%;
  font-size: 2rem;
  font-family: 'Fredoka';
  font-weight: 600;
}

.dog-gallery-section .heading-text > .color {
  color: #704021;
}

.dog-gallery-section .body-text {
  width: 100%;
  margin: 20px 0;
  font-size: 1.2rem;
  font-family: 'Poppins';
  text-align: center;
}

.dog-gallery-section .adopt-button {
  width: 100%;
  padding: 5px 0;
  background-color: #4a3b2b;
  border-radius: 30px;
  font-size: 1.8rem;
  font-family: 'Fredoka';
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s;
}

.dog-gallery-section .adopt-button:hover {
  transform: scale(1.02);
}