.navbar-pagelink:first-child {
  text-decoration: underline;
}



/*WELCOME SECTION*/

.welcome {
  position: relative;
  width: 100%;
  padding: 100px 6vw 200px 6vw;
  background-color: #efe9cc;
  display: flex;
  justify-content: start;
  align-content: start;
  flex-direction: column;
}

.welcome-title {
  margin: 0 0 20px 0;
  font-size: 5rem;
  font-weight: 600;
  font-family: 'Fredoka';
  color: #704021;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.welcome-title > .shape-slanted-paw {
  width: 5rem;
  object-fit: cover;
}

.welcome-message {
  margin: 0 0 20px 0;
  padding: 0 45% 0 20px;
  font-size: 1.5rem;
  font-family: 'Poppins';
  color: #704021;
}

.welcome-message-author {
  padding: 0 0 0 20px;
  font-size: 1.5rem;
  font-family: 'Poppins';
  color: #704021;
}

.welcome-image {
  position: absolute;
  inset: auto 20px 20px auto;
  height: 35rem;
}



/*JOURNEY SECTION*/

.start-journey {
  width: 100%;
  padding: 150px 0;
  background-color: #e3e2de;
  display: flex;
  justify-content: start;
  align-content: center;
  flex-direction: column;
}

.journey-title {
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  font-family: 'Fredoka';
  color: #704021;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
}

.journey-title > .highlight {
  color: #8d4322;
}

.journey-text {
  margin: 0 0 50px 0;
  padding: 0 15rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Poppins';
  color: #704021;
}

.start-journey .navigate-buttons-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.start-journey .navigate-button {
  padding: 10px 40px;
  background-color: #704021;
  border-radius: 30px;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: 'Fredoka';
  color: #efe9cc;
  transition: all 0.3s;
}

.start-journey .navigate-button:hover {
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
  transform: scale(1.05);
}

.start-journey .navigate-button:active {
  transform: scale(1);
}




/*WHY ADOPT SECTION*/

.why-adopt {
  position: relative;
  width: 100%;
  margin: 0 0 100px 0;
  padding: 100px 6vw 200px 6vw;
  background-color: #efe9cc;
  display: flex;
  justify-content: start;
  align-content: start;
  flex-direction: column;
}

.adopt-title {
  margin: 0 0 20px 0;
  font-size: 5rem;
  font-weight: 600;
  font-family: 'Fredoka';
  color: #704021;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.adopt-title > .shape-slanted-paw {
  width: 5rem;
  object-fit: cover;
}

.adopt-text {
  margin: 0 0 20px 0;
  padding: 0 45% 0 20px;
  font-size: 1.3rem;
  font-family: 'Poppins';
  color: #704021;
}

.adopt-button {
  width: fit-content;
  margin: 0 0 0 20px;
  padding: 10px 80px;
  background-color: #704021;
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Fredoka';
  color: #efe9cc;
  transition: all 0.3s;
}

.adopt-button:hover {
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
  transform: scale(1.05);
}

.adopt-button:active {
  transform: scale(1);
}

.adopt-gallery {
  position: absolute;
  inset: 20px 6vw 20px 55%;
  display: flex;
  justify-content: end;
  align-items: start;
  gap: 20px;
}

.why-adopt .gallery-column {
  height: 100%;
  width: 13rem;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  gap: 20px;
}

.why-adopt .gallery-square {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
}

.why-adopt .gallery-image-colored {
  position: absolute;
  inset: 0;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  z-index: 1;
}

.why-adopt .gallery-image-black {
  position: absolute;
  inset: 0;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  z-index: 2;
  transition: all 0.3s;
}

.why-adopt .gallery-square:hover .gallery-image-black {
  opacity: 0;
}



/*TESTIMONIALS SECTION*/

.testimonials {
  width: 100%;
  margin: 0 0 100px 0;
  padding: 50px 6vw;
  background-color: #efe9cc;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.testimonials-title {
  margin: 0 0 20px 0;
  width: fit-content;
  font-size: 5rem;
  font-weight: 600;
  font-family: 'Fredoka';
  color: #704021;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.testimonials-title > .shape-paw {
  width: 5rem;
  object-fit: cover;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.testimonial-card {
  padding: 20px;
  background-color: rgba(112, 65, 33, 0.3);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  transition: all 0.3s;
}

.testimonial-card:hover {
  background-color: rgba(112, 65, 33, 0.5);
  transform: scale(1.03);
}

.testimonials .card-message {
  text-align: center;
  font-family: 'Poppins';
  font-style: italic;
  color: #ffffff;
}

.testimonials .card-author {
  text-align: center;
  font-family: 'Poppins';
  font-weight: 700;
  color: #8d4322;
}



/*JOIN US SECTION*/

.join-us {
  width: 100%;
  padding: 50px 6vw;
  background-color: #efe9cc;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.join-title {
  margin: 0 0 30px 0;
  width: fit-content;
  font-size: 5rem;
  font-weight: 600;
  font-family: 'Fredoka';
  color: #704021;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.join-title > .shape-paw {
  width: 5rem;
  object-fit: cover;
}

.join-message-01 {
  margin: 0 0 20px 0;
  padding: 0 15%;
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Poppins';
  color: #704021;
}

.join-message-02 {
  margin: 0 0 40px 0;
  padding: 0 15%;
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Poppins';
  font-weight: 700;
  color: #704021;
}

.join-logo {
  width: 10%;
}