.title {
  width: 100%;
  margin: 0 0 20px 0;
  filter: drop-shadow(0 4px 4px  rgba(255, 255, 255, 0.25));
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
}
section.choose .title,
section.works .title {
  filter: drop-shadow(0 4px 4px  rgba(0, 0, 0, 0.25));
  color: var(--accent_02);
}

.body {
  width: 100%;
  margin: 0 0 20px 0;
  text-align: center;
  font-size: 1rem;
  color: var(--font_02);
}
section.choose .body {
  margin: 0;
  text-align: justify;
  text-indent: 40px;
  color: var(--font_01);
}

.label {
  width: 100%;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

/*===================================================================================*/

section.hero {
  min-height: 668px;
  height: calc(100vh - 100px);
  padding: 0 8vw;
  background-color: #000000;
  justify-content: center;
  align-content: center;
}

section.hero .hero-bg-01 {
  position: absolute;
  inset: 0;
  opacity: 0.5;
  background-image: url(backgrounds/home/hero_image-01.jpg);
  background-size: cover;
  z-index: 1;
}

section.hero .shadow-bg {
  position: absolute;
  inset: 60% 0 -1px 0;
  background: linear-gradient(to bottom, #26262600, #26262699, #262626);
  z-index: 2;
}

section.hero .tagline-wrap {
  position: relative;
  height: 9.25rem;
  width: 100%;
  margin: 0 0 50px 0;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.5));
  z-index: 3;
}

section.hero .tagline {
  position: absolute;
  inset: 0;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.625rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.hero .wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  z-index: 3;
}

section.hero .explore-button,
section.hero .order-button {
  cursor: pointer;
  width: 220px;
  padding: 8px 0;
  background-color: #ffffff;
  border-radius: 50px;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #000000;
}
section.hero .explore-button:hover {
  letter-spacing: 3px;
  background-color: var(--accent_02);
  filter: drop-shadow(0 0 4px var(--accent_02));
  color: #ffffff;
}
section.hero .order-button:hover {
  letter-spacing: 3px;
  background-color: var(--primary_01);
  filter: drop-shadow(0 0 4px var(--primary_01));
  color: #ffffff;
}

/*===================================================================================*/

section.variety {
  padding: 50px 8vw;
  background-color: var(--primary_01);
}

section.variety .table {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}

section.variety .card {
  width: 25vw;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section.variety .card:hover {
  scale: 1.03;
}

section.variety .container {
  width: 100%;
  overflow: hidden;
  background-color: #000000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.variety .card-image {
  width: 100%;
  aspect-ratio: 3/2;
  border-radius: 5px;
  opacity: 0.8;
}

/*===================================================================================*/

section.choose {
  padding: 50px 8vw;
}

section.choose .wrap {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

section.choose .frame-01 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section.choose .frame-02 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section.choose .frame-image {
  width: 100%;
  margin: 0 0 40px 0;
  aspect-ratio: 3/2;
  border-radius: 10px;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
}

section.choose .caption {
  width: 100%;
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  color: var(--font_01);
}

section.choose .contact-button {
  cursor: pointer;
  padding: 8px 30px;
  background-color: var(--primary_01);
  border-radius: 50px;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
}
section.choose .contact-button:hover {
  letter-spacing: 3px;
  background-color: var(--accent_02);
  filter: drop-shadow(0 0 4px var(--accent_02));
}

/*===================================================================================*/

section.services {
  padding: 50px 4vw;
  background-color: var(--primary_01);
}

section.services .table {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

section.services .card {
  width: 22vw;
  padding: 10px;
  background-color: var(--primary_02);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section.services .card:hover {
  scale: 1.03;
}

section.services .card-image {
  width: 100%;
  aspect-ratio: 3/2;
  border-radius: 5px;
}

/*===================================================================================*/

section.works {
  padding: 50px 8vw;
}

section.works .table {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

section.works .card {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  background-color: var(--primary_02);
  border-radius: 5px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 1;
}
section.works .card:hover {
  scale: 1.2;
  z-index: 10;
}

section.works .card-image {
  position: absolute;
  inset: 50% 0 0 50%;
  width: 120%;
  aspect-ratio: 1/1;
  transform: translate(-50%, -50%);
}
section.works .card:hover .card-image {
  width: 100%;
}

/*===================================================================================*/