@media (min-width: 1440px) {
  .title {
    font-size: 2rem;
  }

  section.hero {
    min-height: 780px;
    height: calc(100vh - 100px);
  }
  section.hero .tagline-wrap {
    height: 6.84rem;
  }
  section.hero .tagline {
    font-size: 3rem;
    line-height: 3.42rem;
  }
  section.hero .explore-button,
  section.hero .order-button {
    width: 270px;
    font-size: 0.67rem;
  }

  section.choose .contact-button {
    padding: 10px 40px;
    font-size: 0.67rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .title {
    font-size: 2.571rem;
  }

  section.hero {
    min-height: 864px;
    height: calc(100vh - 160px);
  }
  section.hero .tagline-wrap {
    height: 9.14rem;
  }
  section.hero .tagline {
    font-size: 3.86rem;
    line-height: 4.57rem;
  }
  section.hero .explore-button,
  section.hero .order-button {
    width: 270px;
  }

  section.services .title {
    margin: 0 0 30px 0;
  }
  section.services .table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  section.services .card {
    width: 100%;
  }
  section.services .label {
    font-size: 1.71rem;
  }

  section.works .table {
    grid-template-columns: repeat(3, 1fr);
  }
  section.works .card:nth-child(7),
  section.works .card:nth-child(8) {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .title {
    font-size: 2.66rem;
  }

  section.hero {
    min-height: 660px;
    height: calc(100vh - 140px);
  }
  section.hero .tagline-wrap {
    height: 12.5rem;
  }
  section.hero .tagline {
    font-size: 3.33rem;
    line-height: 4.17rem;
  }
  section.hero .wrap {
    flex-direction: column;
    gap: 20px;
  }
  section.hero .explore-button,
  section.hero .order-button {
    width: 270px;
  }

  section.variety .title {
    text-align: left;
  }
  section.variety .body {
    text-align: justify;
    text-indent: 20px;
  }
  section.variety .card {
    width: 40vw;
  }

  section.choose .wrap {
    flex-direction: column;
  }
  section.choose .frame-02 {
    align-items: end;
  }
  section.choose .frame-image {
    margin: 0 0 20px 0;
  }
  section.choose .caption {
    text-align: right;
  }

  section.services .title {
    margin: 0 0 30px 0;
  }
  section.services .table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  section.services .card {
    width: 100%;
  }
  section.services .label {
    font-size: 1.33rem;
  }

  section.works .table {
    grid-template-columns: repeat(2, 1fr);
  }
  section.works .card:nth-child(7),
  section.works .card:nth-child(8) {
    display: none;
  }
}

@media (max-width: 479px) {
  .title {
    font-size: 2.4rem;
  }

  section.hero {
    min-height: 458px;
    height: calc(100vh - 110px);
  }
  section.hero .tagline-wrap {
    height: 12.6rem;
  }
  section.hero .tagline {
    font-size: 3rem;
    line-height: 4rem;
  }
  section.hero .wrap {
    flex-direction: column;
    gap: 20px;
  }
  section.hero .explore-button,
  section.hero .order-button {
    width: 200px;
  }

  section.variety .title {
    text-align: left;
  }
  section.variety .body {
    text-align: justify;
    text-indent: 20px;
  }
  section.variety .card {
    width: 40vw;
    padding: 7px;
    gap: 7px;
  }

  section.choose .wrap {
    flex-direction: column;
  }
  section.choose .frame-02 {
    align-items: end;
  }
  section.choose .frame-image {
    margin: 0 0 20px 0;
  }
  section.choose .caption {
    text-align: right;
  }

  section.services .title {
    margin: 0 0 30px 0;
  }
  section.services .table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  section.services .card {
    width: 100%;
    padding: 7px;
    gap: 7px;
  }
  section.services .label {
    font-size: 1rem;
  }

  section.works .table {
    grid-template-columns: repeat(2, 1fr);
  }
  section.works .card:nth-child(7),
  section.works .card:nth-child(8) {
    display: none;
  }
}